@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

#content {
  transition: all 0.8s linear;
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.defaultBg {
  background: url('https://images.unsplash.com/photo-1593444470909-72b01f1ea83e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');


}

.cloudBg {
  background: url('./assets/clouds.jpg');

}

.clearBg {
  background: url('./assets/clear.jpg');
}

.rainBg {
  background: url('./assets/rain.jpg');
}

.thunderBg {
  background: url('./assets/thunder.jpg');
}